@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@layer utilities {
  .bg-bank-gradient {
    background-image: linear-gradient(90deg, #0179fe 0%, #4893ff 100%);
  }

  .bg-bank-green-gradient {
    background-image: linear-gradient(90deg, #01797a 0%, #489399 100%);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  border-radius: 2px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #dddddd;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #5c5c7b;
  border-radius: 50px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #7878a3;
}

.home {
  @apply flex w-full flex-row max-xl:max-h-screen max-xl:overflow-y-scroll;
}

.home-content {
  @apply flex w-full flex-1 flex-col gap-8 px-5 sm:px-8 py-7 lg:py-12 xl:max-h-screen xl:overflow-y-scroll;
}

.home-header {
  @apply flex flex-col justify-between gap-8;
}
.header-2 {
  @apply text-lg font-semibold text-gray-900;
}

.header-box {
  @apply flex flex-col gap-1;
}

.header-box-title {
  @apply font-semibold text-2xl lg:text-3xl text-gray-900;
}

.header-box-subtext {
  @apply font-normal text-sm lg:text-base text-gray-600;
}

.total-balance {
  @apply flex w-full items-center gap-4 rounded-xl border border-gray-200 p-4 sm:gap-6 sm:p-6;
}

.total-balance-chart {
  @apply flex size-full max-w-[100px] items-center sm:max-w-[120px];
}
.total-balance-label {
  @apply text-sm font-medium text-gray-600;
}
.total-balance-amount {
  @apply text-2xl lg:text-3xl flex-1 font-semibold text-gray-900;
}

.root-layout {
  @apply flex h-16 items-center justify-between p-5 sm:p-8 md:hidden;
}

.sidebar {
  @apply sticky left-0 top-0 flex h-screen w-fit flex-col  justify-between border-r border-gray-200 bg-white pt-8 text-white max-md:hidden sm:p-4 xl:p-6 2xl:w-[355px];
}

.sidebar-logo {
  @apply 2xl:text-[26px] text-[26px] font-bold text-black max-xl:hidden;
}

.sidebar-link {
  @apply flex gap-3 items-center py-1 md:p-3 2xl:p-4 rounded-lg justify-center xl:justify-start;
}

.sidebar-label {
  @apply text-[16px] font-semibold text-black max-xl:hidden;
}

.mobilenav-sheet {
  @apply flex h-[calc(100vh-72px)] flex-col overflow-y-auto;
}

.mobilenav-sheet_close {
  @apply flex gap-3 items-center p-4 rounded-lg w-full max-w-60;
}

.right-sidebar {
  @apply hidden h-screen max-h-screen flex-col border-l border-gray-200 xl:flex w-[355px] xl:overflow-y-scroll;
}

.profile {
  @apply relative flex px-6 max-xl:justify-center;
}

.profile-img {
  @apply absolute -top-8 size-24 rounded-full bg-gray-100 border-8 border-white p-2;
}

.profile-details {
  @apply flex flex-col pt-24;
}

.profile-name {
  @apply text-2xl font-semibold text-gray-900;
}

.profile-email {
  @apply text-[16px] font-normal text-gray-600;
}

.banks {
  @apply flex flex-col justify-between gap-8 px-6 py-8;
}

.bank-card {
  @apply relative flex h-[190px] w-full max-w-[320px] justify-between rounded-[20px] border border-white backdrop-blur-[6px];
}
.bank-card_content {
  @apply relative z-10 flex size-full max-w-[228px] flex-col justify-between rounded-l-[20px] bg-gray-700 px-5 pb-4 pt-5;
}
.bank-card_icon {
  @apply flex size-full flex-1 flex-col items-end justify-between rounded-r-[20px]  bg-cover bg-center bg-no-repeat py-5 pr-5;
}

.shadow-form {
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
}

.shadow-chart {
  box-shadow: 0px 1px 3px rgba(16, 24, 40, 0.1),
    0px 1px 2px rgba(16, 24, 40, 0.06);
}

.shadow-profile {
  box-shadow: 0px 12px 16px -4px rgba(16, 24, 40, 0.08),
    0px 4px 6px -2px rgba(16, 24, 40, 0.03);
}

.shadow-creditCard {
  box-shadow: 8px 10px 16px rgba(0, 0, 0, 0.05);
}
